<!doctype html>
<html lang="en">
<head>
	<title>Ivan Rodriguez | Software Developer and Designer</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="author" content="Ivan Rodriguez" />
	<meta name="description" content="My name is Ivan and I am a software developer and designer based in San Francisco." />
	<meta name="keywords" content="ivan, rodriguez, berkeley, cs, computer science, ruby, python, javascript" />
	<link rel="icon" type="image/ico" href="img/favicon.ico">

	<!--** Note: Setting viewport to 1 does not allow the user to pinch and zoom.-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<!--[if lt IE 9]>
	  <script src="js/html5.js"></script>
	<![endif]-->

	<!--[if (gt IE 8) | (IEMobile)]><!-->
	  <link rel="stylesheet" href="styles/unsemantic/unsemantic-grid-responsive.css" />
	<!--<![endif]-->

	<!--[if (lt IE 9) & (!IEMobile)]>
	  <link rel="stylesheet" href="styles/unsemantic/ie.css" />
	<![endif]-->

	<!-- Typekit -->
	<script type="text/javascript" src="//use.typekit.net/aoz5lnm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- Chart.js -->
	<script src="https://s3.amazonaws.com/ivanrodriguez.co/js/Chart.min.js" charset="utf-8"></script>

	<!-- Turbo.js -->
	<script>
	  // (function(t,u,r,b,o,s){
	  //   o=document.createElement(u);
	  //   o.setAttribute('data-turbojs', b);
	  //   o.async=1;o.src=r;
	  //   s=t.getElementsByTagName(u)[0];
	  //   s.parentNode.insertBefore(o);
	  // })(document, 'script',
	  //   '//d3csi3dqjpdyg3.cloudfront.net/v1/turbo.js',
	  //   '//dzggdyqql7mmw.cloudfront.net/8a62b099ec14b7481fef.js');
	</script>


	<script src="js/main.js"></script>
	<link rel="stylesheet" href="styles/core.min.css">

<!--
Ivan Rodriguez

||||||||||||||||||||||||||||||||||||||||
||||||       ||||||            \||||||||
||||||       ||||||      ___    \|||||||
||||||       ||||||     |   )    \||||||
||||||       ||||||     |___)    /||||||
||||||       ||||||			        /|||||||
||||||       ||||||            /||||||||
||||||       ||||||     |\     \||||||||
||||||       ||||||     ||\     \|||||||
||||||       ||||||     |||\     \||||||
||||||       ||||||     ||||\     \|||||
||||||||||||||||||||||||||||||||||||||||

-->

</head>
<body>
	<div class="grid-container">
		<div class="navigation grid-100 mobile-grid-100">
			<nav class="grid-70">
				<h1>Ivan Rodriguez</h1>
				<a href="index.html"><img src="https://s3.amazonaws.com/ivanrodriguez.co/img/logo%402x.png" alt="Ivan Rodriguez"></a>
				<ul class="nav-list">
					<li><a href="about.html">About</a></li>
					<li><a href="work.html">Work</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="mailto:ivan.rodriguez001@gmail.com">Contact</a></li>
				</ul>
			</nav>
		</div>