<!doctype html>
<html lang="en">
<head>
	<title>Ivan Rodriguez | {{ page.title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="author" content="irdz" />
	<meta name="description" content="I am a software engineer based in San Francisco." />
	<meta name="keywords" content="berkeley, cs, computer science, ruby, python, javascript, java, scala, swift, ios" />
	<link rel="icon" type="image/ico" href="{{ site.url }}/img/favicon.ico">

	<!--** Note: Setting viewport to 1 does not allow the user to pinch and zoom.-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<!--[if lt IE 9]>
	  <script src="{{ site.url }}/js/html5.js"></script>
	<![endif]-->

	<!-- Typekit -->
	<script src="https://use.typekit.net/aoz5lnm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- Quantcast Tag -->
	<script type="text/javascript">
	var _qevents = _qevents || [];

	(function() {
	var elem = document.createElement('script');
	elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
	elem.async = true;
	elem.type = "text/javascript";
	var scpt = document.getElementsByTagName('script')[0];
	scpt.parentNode.insertBefore(elem, scpt);
	})();

	_qevents.push({
	qacct:"p-0w-Ltn9bYFyWH"
	});
	</script>

	<noscript>
	<div style="display:none;">
	<img src="//pixel.quantserve.com/pixel/p-0w-Ltn9bYFyWH.gif" border="0" height="1" width="1" alt="Quantcast"/>
	</div>
	</noscript>
	<!-- End Quantcast tag -->

	<link rel="stylesheet" href="/dest/styles/core.css">

</head>
<body>


