<!doctype html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="author" content="Ivan Rodriguez" />
	<meta name="description" content="My name is Ivan and I am a software developer and designer based in San Francisco." />
	<meta name="keywords" content="ivan, rodriguez, berkeley, cs, computer science, ruby, python, javascript" />
	<link rel="icon" type="image/ico" href="{{ site.url }}/img/favicon.ico">

	<!--** Note: Setting viewport to 1 does not allow the user to pinch and zoom.-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<!--[if lt IE 9]>
	  <script src="{{ site.urll }}/js/html5.js"></script>
	<![endif]-->

	<!--[if (gt IE 8) | (IEMobile)]><!-->
	  <link rel="stylesheet" href="{{ site.url }}/styles/unsemantic/unsemantic-grid-responsive.css" />
	<!--<![endif]-->

	<!--[if (lt IE 9) & (!IEMobile)]>
	  <link rel="stylesheet" href="{{ site.urll }}/styles/unsemantic/ie.css" />
	<![endif]-->

	<!-- Typekit -->
	<script type="text/javascript" src="//use.typekit.net/aoz5lnm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- Chart.js -->
	<script src="http://d8ci28d4asocv.cloudfront.net/js/Chart.min.js" charset="utf-8"></script>


	<script src="{{ site.url }}/js/main.js"></script>
	<link rel="stylesheet" href="{{ site.url }}/styles/core.min.css">

<!--
Ivan Rodriguez

||||||||||||||||||||||||||||||||||||||||
||||||       ||||||            \||||||||
||||||       ||||||      ___    \|||||||
||||||       ||||||     |   )    \||||||
||||||       ||||||     |___)    /||||||
||||||       ||||||			        /|||||||
||||||       ||||||            /||||||||
||||||       ||||||     |\     \||||||||
||||||       ||||||     ||\     \|||||||
||||||       ||||||     |||\     \||||||
||||||       ||||||     ||||\     \|||||
||||||||||||||||||||||||||||||||||||||||

-->

</head>
<body>
	<div class="grid-container">
		<div class="navigation grid-100 mobile-grid-100">
			<nav class="grid-70">
				<h1>Ivan Rodriguez</h1>
				<a href="{{ site.urll }}/index.html"><img src="http://d8ci28d4asocv.cloudfront.net/img/logo@2x.png" alt="Ivan Rodriguez"></a>
				<ul class="nav-list">
					<li><a href="{{ site.urll }}/about.html">About</a></li>
					<li><a href="{{ site.urll }}/work.html">Work</a></li>
					<li><a href="{{ site.urll }}/blog.html">Blog</a></li>
					<li><a href="mailto:ivan.rodriguez001@gmail.com">Contact</a></li>
				</ul>
			</nav>
		</div>