/********************* PARTIALS ****************************/
/* ------------------------------------------------------- */
@import "partials/_reset.sass";

/******************** END PARTIALS *************************/
/* ------------------------------------------------------- */

/********************* VARIABLES ***************************/
/* ------------------------------------------------------- */

/******** Background Colors ********/
$off-white: #f5f5f5;

/********** Main Palet ************/
$blue: #58b7f0;
$dark-blue: #292b36;

/*********** Link Colors **********/
$light-green: #0aba60;

/*********** Text Colors **********/
$dark-gray-text: #333333;


/******************* END VARIABLES *************************/
/* ------------------------------------------------------- */


/*********************** MIXINS ****************************/
/* ------------------------------------------------------- */
@mixin rounded-corners($radius: 5px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}


/************** Fonts *************/

@mixin freight-light {
	font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin freight-medium {
	font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin freight-bold {
	font-family: "freight-sans-pro", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin minion-pro {
	font-family: "minion-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}


/********************* END MIXINS **************************/
/* ------------------------------------------------------- */

/********************* HTML Tags **************************/
/* ------------------------------------------------------- */
body {
	background: $off-white;
	// border-top: 5px solid $blue;
	font-size: 100%;
	@include minion-pro;
}

h1 {
	@include freight-medium;
}

ul {
	list-style-type: none;
}

a {
	color: $blue;
	text-decoration: none;
	@include freight-light;
	&:hover {
		border-bottom: 1px solid $blue;
	}
	&:visited {
		color: $blue;
		text-decoration: none;
	}
}


/********************* End HTML Tags ************************/
/* -------------------------------------------------------- */

/********************* BODY ********************************/
/* ------------------------------------------------------- */
.content {
	max-width: 600px;
	text-align: center;
	margin: 50px auto;
}


h1 {
	font-size: 4em;
}

